 body.woocommerce-account{
 	#customer_login h2{
 		font-size: 21px;
 	}

 	.form-active{
 		border: 1px solid $green !important; 
 		box-shadow: 0px 0px 34px -7px rgba(145, 145, 152, 1);  
 	}
 }

.woocommerce form.checkout_coupon, .woocommerce form.login, .woocommerce form.register , .lost_reset_password{
	padding:35px;
	background: #fff;
	border:1px solid $text-color;
	border-radius: 10px;

	input[type="text"] , 
	input[type="password"] ,
	input[type="email"]{
		height: 47px; 
	} 

	.woocommerce-button , .woocommerce-Button{
		background: $green !important;
		color: #fff !important;
		font-weight: 400 !important;
		font-size: 16px !important; 
	}

}

.woocommerce-LostPassword.lost_password{
	text-align: right;

	a{
		color: $green;
		text-decoration: underline;  
	}
}

/* 
** Logged in user
*/
// Navigation
.woocommerce-account .woocommerce-MyAccount-navigation{
	background: $green;
	padding:30px;
	border-radius: 8px;
	box-shadow: 0px 8px 76px -27px rgba(22, 22, 39, 1);
	margin-bottom: 30px;  

	ul{
		padding:0;
		margin:0;
		list-style: none;

		li{
			padding:8px 15px;  

			&.is-active{
				background: #fff;
				border-radius: 8px;

				a{
					color: $black;
				}
			}
		}

		a{
			color: #fff;
		}

	}
}
// Content
.woocommerce-account .woocommerce-MyAccount-content{

	.woocommerce-Addresses{

		.woocommerce-Address{
			padding:30px;
			background: #fff;
			border-radius: 8px;
			border:1px solid $black;  
		}

	}

}