input[type="submit"] , button[type="submit"]{
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background: $green;
  height: 48px;
  color:#fff;
  min-width: 160px;
  padding:4px 25px;
  border-radius: 8px;
  font-weight: 600;
  white-space: nowrap;
  transition: 0.3s;
  border-radius: 8px !important;
} 

input{
  outline: 0 !important;
}