.main-slider-sn-wrapper{
	position: relative;

	.main-slider-bg{

	}

	.main-slider-row{
		position: absolute;
		top:40px;
		left:0;
		right:0;

		.main-slider-right-col{
			
			img.cannabis-move-img{
				max-width: 120%;
				margin-left: -10%;
				
			}
		}

		.main-slider-container{
			padding:80px 15px 40px 80px; 

			@include breakpoint('large'){
				padding:60px 15px 15px 40px;	
			}

			@include breakpoint('medium'){
				padding:30px 15px 15px 40px;	
			}

			@include breakpoint('tablet'){
				padding:10px 0 0 40px;	
			}

			@include breakpoint('phoneH'){
				padding:0 0 0 25px;	
			}

			.main-slider-sn{

				.m-slider-text-area{
					h1,span{
						font-size: 70px;
						white-space: nowrap;
						color:#fff;
						font-family: $permanent-font; 

						@include breakpoint('large'){
							font-size:50px;
						}

						@include breakpoint('medium'){
							font-size:40px;
						}

						@include breakpoint('tablet'){
							font-size:30px;
						}

						@include breakpoint('phoneV'){
							font-size:20px; 
						}
					}
					h1{
						line-height: 100%; 
					}
					span{
						-webkit-text-stroke: 0.3px #fff !important;
  						-webkit-text-fill-color: #000;
					}

					p{
						color: #fff;
						font-size: 18px;
					}

					@include breakpoint('tablet'){
						& > div{
							display: none;
						}
					}
				}

			}
		}


		.main-slider-right-col{
			position: relative;

			img.dots-move-img{
				top:50px !important;

				@include breakpoint('tablet'){
					display: none !important;
				}
			}
		}


	}

	ul.slick-dots{
		position: absolute;
		right:70px;
		bottom:50px; 
		justify-content: flex-end !important;
	}
} 

// Onsale carousel
.onsale-products-sn-wrapper{

	.onsale-products-ftr-box{
		width:340px;
		padding-right: 15px;

		@media(max-width: 650px){
			width:100%;
			margin-bottom: 10px; 
			padding-right: 0;
		}

		div.onsale-ftr-inner{
			width:100%;
			height: 100%; 
			padding:30px;
			display: flex;

			@media(max-width: 650px){
				min-height:380px;

			}

			.box-text-vertical{
				width:70px;
				display: flex;
				padding-bottom: 5px;

				.text-v-item{
					width:50%;
					display: flex;
					align-items: flex-end;
				}

				h3{
					
					color: #6AFFE6;
					display: block;
					white-space: nowrap;
					transform:rotate(-90deg);
					text-transform: uppercase;
					width:100%;
					padding:0;
					margin:0;
					font-size: 26px;
					font-family: $body-font;
					font-weight: 400;
				}

				h3.vertical-head-2{
					    -webkit-text-stroke: .3px #6AFFE6 !important;
    -webkit-text-fill-color: #000;

				}
			}
			.box-text-desc{
				width:calc(100% - 70px);
				padding-left: 15px;
				padding-bottom: 15px;
				display: flex;
				align-items: flex-end;
			}
		}
	}

	.onsale-carousel-container{
		width:calc(100% - 340px );
		position: relative;
		padding-left: 15px;

		@media(max-width: 650px){
			width:100%;
			padding-left: 0;
		}
		.onsale-products-sn{

			.slick-list{
				margin:0 -15px; 
			}

			div.slick-slide{
				margin:0 15px;

				li{
					height:380px;
					position: relative;
					// padding:30px;

					a{
						display: block;

					}

					img{
						
						position: absolute;
						top:0;
						left:0;
						object-fit: cover;
						object-position: center top;
						width:100%;
						height: 100%;

					}

					h2{
						position: relative;
						z-index: 3;
						display: block;
						font-size: 20px;
						font-weight: 600;
						color:#fff;
					}
					span.price{
						position: relative;
						z-index: 3;
						display: block;
						font-size: 16px;
						color: #fff;
					}

					a.button{
						position: relative;
						z-index: 3;
					}
				}
			}
			li{
				 list-style-type: none; 
			}
		}

		.rec-prev{
			@include el-center;
			width: 47px;
			height: 47px;
			border-radius: 50%;
			background: #fff;
			border:2px solid $black;
			position: absolute;
			left:0;
			top:50%;
			margin-top: -24px;
			margin-left: -5px;
			cursor: pointer;

			@media(max-width: 650px){
				display: none !important;
			}
		}

		.rec-next{
			@include el-center;
			width: 47px;
			height: 47px;
			border-radius: 50%;
			background: #fff;
			border:2px solid $black;
			position: absolute;
			right:0;
			top:50%;
			margin-top: -24px;
			margin-right: -18px;
			cursor: pointer;

			@media(max-width: 650px){
				display: none !important;
			}

		}      
	}

	.product-entry-wrap-sn{
		height: 100%; 
		display: flex;
	  	flex-direction: column;
	  	justify-content: flex-end;
	  	padding:30px;
	  	position: relative;

	  	a.woocommerce-loop-product__link{
	  		position: absolute;
	  		top:0;
	  		left:0;
	  		right:0;
	  		bottom:0; 
	  		z-index: 1;
	  		display: flex !important;
	  		flex-direction: column;
	  		justify-content: flex-end; 
	  		padding:30px;
	  		padding-bottom: 80px;

	  		&::after{
			    content:''; 
				position: absolute;
				z-index: 0;
				top:0;
				left:0;
				right: 0;
				bottom:0;
				background: rgb(27,27,27);
				background:linear-gradient(0deg, rgba(27,27,27,1) 21%, rgba(38,38,38,0.58) 68%, rgba(189,189,189,0.0) 100%);
					
			}
	  	}

	  	
	}
	
}

// Product info boxes section
.product-info-box{
	min-height: 346px;
	padding:50px; 
	box-shadow: 0px 0px 62px -24px rgba(31, 31, 37, 1);
	display: flex;
	align-items: center;

	p{

	} 
	h2{
		font-size: 40px;
		font-family: $permanent-font;
		padding-bottom: 15px;

		@include breakpoint('medium'){
			font-size: 35px;
		}
		@include breakpoint('tablet'){
			font-size: 30px;
		}
		@include breakpoint('phoneH'){
			font-size: 28px;
		}
	}
	a.btn-main-web14{
		max-width: 165px;
	}
}

// About us
.section-about{
	padding-top: 180px;
}
.sec-about-desc{
	
	h2{
		font-size: 46px;
		text-transform: uppercase;
		font-weight: 700;
		padding-bottom: 5px;
	}
	h3{
		color: $red;
		font-family: $permanent-font;
		font-size: 40px;
		padding-bottom: 30px;
	}
	p{
		padding-bottom: 35px;
	}
}

.sec-about-icons{

	#scene-sn-2{
		position: absolute !important;
		top:-110px;
		z-index: -1;
		img{
			max-width:120%;
			margin-left: -160px;

		}
	}

	.about-icons-container{

		.icon-row-item{
			border-bottom: 1px solid #B1B1B1;
			padding-bottom: 30px;
			margin-bottom: 30px;

			.icon-item-icon{
				width:105px;

				.icon-item-circle{
					@include el-center;
					width:75px;
					height: 75px;
					border-radius: 50%;
					background-color: #fff; 
					border:1px solid #B1B1B1;
				}
			}
			.icon-item-label{
				width:calc(100% - 105px);
				display: flex;
				align-items: center;

				h3{
					color: $black;
					font-size: 21px;
				}
			}
		}
	}
}