header#masthead{

    position: fixed;
    top:0;
    left:0;
    right:0;
    padding-top: 15px; 
    z-index: 99;
    transition: 0.3s;
    // transition: background-color 0.3s ease;
    // background: #fff;

    nav.navbar{

        @media(min-width: 991px){

            .navbar-collapse{
                padding-left: 25px !important;    
            }

            .nav-link{ 
                padding:8px 22px;  
                font-weight: 600;
                color: $black;
            }
        }
    }
	
  .search-box-h-wrapper{

  	.web14-search-box{
  		display: flex;
  		align-items: center;
  		padding-left: 30px;


  	}
  	.web14-myaccount-link{
  		display: flex;
  		align-items: center;
  		padding-left: 30px;

  		a{
  			color: $black;
  		}

  		img{
  			height: 20px; 
  			margin-right: 4px;

  		}
  	}

  	.web14-shopping-cart{
  		display: flex;
  		align-items: center;
  		padding-left: 25px; 

  		img{
  			height: 20px;
  			margin-right: 4px;
  		}

  		.web14-cart-count{
  			span{
  				font-size: 14px; 
  			}
  		}
  	}

  }

  #web14-logo{
    width:120px;
    img{
        transition: 0.3s;
        height: auto; 
    }
  }

}  
 
.header-scrolled{
   background-color: #ffffff; 
   padding-top: 0  !important;  
}