header#masthead{

    position: fixed;
    top:0;
    left:0;
    right:0;
    // padding-top: 15px; 
    z-index: 99;
    transition: 0.3s;
    // transition: background-color 0.3s ease;
    // background: #fff;

    .ticker-top-wrapper{
        background: $green;

        /*newsticker*/ 
        .newsticker {
            margin:auto;
            max-width:800px;
            height:100%;
            padding:5px 15px;

            ul.js-frame{
                margin:0;
                padding:0;
                list-style: none;

                li{
                    text-align: center;

                    a{
                        color:#fff;
                    }
                }
            }
        }

        .newsticker ul li {
            width: 100%;
            overflow: hidden;
            // white-space: nowrap;
            display: none;
        }

    }

    nav.navbar{

        @media(min-width: 992px){

            .navbar-collapse{
                padding-left: 25px !important;   

                .dropdown-menu{
                    min-width: 260px;
                }

                .dropdown:hover .dropdown-menu {
                    display: block;

                } 
            }

            .nav-link{ 
                padding:8px 22px;  
                font-weight: 400;
                color: $black;
                
            }

        }

        @include breakpoint('medium'){  
            .navbar-collapse{
                position: absolute;
                top:-15px;
                right:0;
                left:0;
                z-index: 9;
                background: #fff;
                box-shadow: 0px 12px 26px -10px rgba(66, 68, 90, 0.5);

                & > ul.navbar-nav{
                    padding: 130px 15px 30px 15px;
                    margin:auto; 

                    li{
                        text-align: center; 
                    }

                }

                .web14-search-box{
                    padding:0 15px 40px 15px; 
                }
            }
        }

        
    }

    #web14-logo{
        position: relative;
        z-index: 10;
    }
	
  .search-box-h-wrapper{
     position: relative;
     z-index: 10;

  	.web14-search-box{
  		display: flex;
  		align-items: center;
  		padding-left: 30px;


  	}
  	.web14-myaccount-link{
  		display: flex;
  		align-items: center;
  		padding-left: 30px;

  		a{
  			color: $black;
  		}

  		img{
  			height: 20px; 
  			margin-right: 4px;

  		}
  	}

     button.navbar-toggler{

        @include breakpoint('medium'){
            position: relative;
            z-index: 10;
            width: 44px;
            height: 44px;
            border:2px solid #ddd;
            padding:0;
            background: #fff;
            border-radius: 50%;
            @include el-center;
            box-shadow: 0px 0px 7px 0px rgba(66, 68, 90, 0.17);

            span.navbar-toggler-icon{
                width:1em;
                height:1em;

            }
        }

    }

  	.web14-shopping-cart{
  		display: flex;
  		align-items: center;
  		padding-left: 25px; 
        position: relative;

        @include breakpoint('phoneH'){
            padding-left: 15px;
        }

  		img{
  			height: 20px;
  			margin-right: 4px;
  		}

  		.web14-cart-count{
  			span{
  				font-size: 14px; 
  			}
  		}


        .cart-minicart-sn{
            position: absolute;
            top:70px;
            right:0;
            background: #fff;
            padding:25px;
            border-radius: 8px;
            box-shadow: 0px 8px 24px 0px rgba(66, 68, 90, 0.46);
            width:360px;
            opacity: 0;
            visibility: hidden;
            transform: translateY(30px);
            transition: 0.6s;


            ul{
                list-style: none;
                padding:0;
                margin:0;

                li{
                    margin-bottom:25px;
                    display: flex;
                    
                    .mk-remove-link{
                        display: flex;
                        align-items: center;
                        width:30px;

                        a{
                            @include el-center;
                            background: #ddd !important;
                            width: 22px;
                            height:22px;
                            border-radius: 50%;
                            color: #fff !important;
                            font-size: 16px; 
                            font-weight: 400;
                        }
                    }

                    .mk-product-img-sn{
                        width:95px;
                        img{
                            width:80px !important;
                            height:80px !important;
                            object-fit: cover;
                            float:none !important;

                        }
                    }

                    .mk-product-name-sn{
                        width:calc(100% - 125px);

                        .mk-sp-name-sn{
                            font-size: 16px;
                            line-height: 110%;
                        }
                        .quantity{
                            & , & span{
                                font-size: 14px;
                                color: $green;  
                                font-weight: 600;  
                            }
                            
                        }
                    }
                }
            }

            .woocommerce-mini-cart__total{
                margin-top: 15px;
                padding-top: 15px;
                border-top: 1px solid #ddd;

                strong,span{
                    font-size: 16px;
                }
                span{
                    color: $green;
                    font-weight: 700;
                }
            }

            .woocommerce-mini-cart__buttons{
                display: flex;
                justify-content: space-between;
            }
        }

        &:hover .cart-minicart-sn{
            opacity: 1;
            visibility: visible;
            transform: translateY(0px);
        }
  	}

  }

  #web14-logo{
    width:120px;
    img{
        transition: 0.3s;
        height: auto; 
    }
  }

}  
 
.header-scrolled{
   background-color: #ffffff; 
   padding-top: 0  !important;  
}
.dropdown-menu{
    border:1px solid $text-color;
    border-radius: 8px;
}
.dropdown-item:focus, .dropdown-item:hover{
    background: $green;
    color: #fff !important; 
}
.dropdown-item.active, .dropdown-item:active{
    background-color: $green;
    color: #fff !important; 
}