 // Contact page
 .discord-channel-wrap{
 	margin: 80px auto;

 	.discrod-channel-box{
 		box-shadow: 0px 3px 20px #00000029;
 		padding:60px;
 		border-radius: 8px;
 		background: #fff;

         @include breakpoint('phoneH'){
            padding:40px 15px;
         }

 		.dcb-inner{
 			width:100%;

 			.dcb-icon{
 				width:150px;
 				img{
 					height: 80px;
 				}
 			}

 			.dcb-heading{
 				width:calc(100% - 400px);
 				h2,span{
 					font-size: 36px !important;
                    @include breakpoint('tablet'){
                        font-size: 28px !important;
                       
                    }

                    @include breakpoint('phoneH'){
                       font-size: 24px !important; 
                    }
 					
 				}
 				span.text-green{
 					color: $green;
 				}
 			}

 			.dcb-button{
 				width:250px;
 				text-align: right;
                display: flex;
                align-items: center;
                justify-content: flex-end;
 				a{
 					margin-left: auto;
 				}
 			}

            @include breakpoint('medium'){
                .dcb-heading{
                    width:calc( 100% - 150px);
                }
                .dcb-button{
                    width:100%;
                    padding-top: 30px;
                    justify-content: center;
                    text-align: center;

                    a{
                        margin:auto;
                    }
                }

            }

            @include breakpoint('phoneH'){
                .dcb-icon{
                    width: 100%;
                    text-align: center;
                }
                .dcb-heading{
                    width:100%;
                    text-align: center;
                    padding-top:30px;
                }
            }

 		}
 	}
 } 

/* 
** FAQ
*/
.faq-accordion-wrapper{
    padding-bottom: 60px;

    .accordion{

        .accordion-item{
            border-radius: 8px;
            border:1px solid $text-color;
            overflow: hidden;
            margin-bottom: 20px;

            .accordion-header{

                .accordion-button{
                    border:0 !important;
                    box-shadow: none !important;
                    background: #fff;
                    font-family: $heading-font;
                    font-size: 20px;

                    @include breakpoint('tablet'){
                        font-size: 18px;
                    }

                    &.collapsed{
                        background: #fff;
                    }
                }
            }

            .accordion-collapse{

                .accordion-body{

                }
            }
        }
    }
}