// @font-face {
//   font-family: 'Gilmer';
//   src: url(../../fonts/Gilmer-Heavy.otf);
//   font-weight: 900;
// }

$body-font: "Inter", sans-serif;
$heading-font: "Space Grotesk", sans-serif;
$permanent-font: "Permanent Marker", cursive;

$black: #000;
$green: #4c903f;
/*********************
BREAKPOINTS
*********************/

 @mixin breakpoint($point) {
  

   @if $point == x-large { 
    @media (max-width: 1650px) { @content ; }
  }
   @else if $point == large { 
    @media (max-width: 1199px) { @content ; }
  }
   @else if $point == medium {
     @media (max-width: 991px) { @content ; }
  }
    @else if $point == tablet {
     @media (max-width: 767px) { @content ; }
  }
   @else if $point == phoneH {
     @media (max-width: 576px)  { @content ; }
  }
  @else if $point == phoneV {
     @media (max-width: 460px)  { @content ; }

  }
}
 
