.added_to_cart.wc-forward, .woocommerce span.onsale{
	display: none !important; 
} 

span.price{
	font-weight: 400;
	font-family: $body-font !important;
	margin-bottom: 16px;
	del{
		color:#9D9D9D;
	}
	ins{
		text-decoration: none;  

	}
}

a.add_to_cart_button , .add_to_cart_button , li.product .add_to_cart_button , li.product a.button{
  @include el-center;
  background: $green !important;
  height: 48px;
  color:#fff !important;
  min-width: 150px;
  padding:4px 15px 4px 35px;
  border-radius: 8px;
  font-weight: 600;
  max-width: 165px;
  position: relative;
  white-space: nowrap;

  &::before{
  	content:url(../../uploads/cart_white.png);
  	position: absolute;
  	left:20px;
  }

}

li.product a.button.loading , li.product a.button.added{
	background: $red !important;
	opacity: 1 !important;
}
li.product a.button.added::before , li.product a.button.loading::before{
	display: none;
}

// Product list content

.woocommerce ul.products li.product{
	background: #fff;
	border-radius: 10px;
	border:1px solid #3E1F00;
	margin-bottom: 70px;

	.product-entry-wrap-sn{
		padding:50px 30px 0 30px;	


		a{
			img{
				max-height: 160px;
				width:auto;
				margin:auto;	
			}
			h2{
				padding-top: 25px;
				padding-bottom: 10px;
				font-size: 20px !important;
				color: #000;

				&:hover{
					color: $red-hover;
				}
			}
			
		}

		h4.product-loop-cat-name{
			padding-bottom: 0;
			margin-bottom: 10px;
			margin-top: 5px;
			font-size: 14px;
				font-family: $body-font;
				color: $green !important;	
			
		}

		span.price{
			font-weight: 600;
			font-size: 16px;
			margin-bottom: 18px;
			color: #000;

			del{
				color: #9D9D9D !important;
			}
			ins{
				color: #000;
			}

		}

		a.button{
			margin:auto;
			margin-bottom: -23px;
		}

	}
	
}

.woocommerce-pagination{
	  ul{
	  	border:0 !important; 
	  	li{
	  		border:0 !important;

	  		span,a{
	  			background: transparent !important;
	  			color: #000;
	  			font-size: 16px !important;
	  			font-weight: 600 !important;
	  		}

	  		a.next , a.prev{
	  			display: flex !important;
	  			align-items: center;
	  			border:1px solid #000;
	  			border-radius: 4px;
	  			padding:8px 10px !important;
	  		}

	  		span.current{
	  			color: $green !important;
	  		}
	  	}
	  }
}

.woocommerce .widget_price_filter .price_slider_wrapper .ui-widget-content{
	background-color: #b9b9b9;
}

.woocommerce .widget_price_filter .ui-slider .ui-slider-handle , .woocommerce .widget_price_filter .ui-slider .ui-slider-range{
	background-color: $red !important; 
}

.woocommerce .widget_price_filter .price_slider_amount .button{
	background: $green;
	color: #fff;
}